.btn-login {
  margin-top: 10px;
  width: 180px;
  height: 40px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn-login:hover {
  background-color: #FFFFF2;
}

.btn-action {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn-action:hover {
  color: white;
  background-color: #FFFFF2;
}

.btn-action-alert {
  color: black;
  background-color: white;
  border: 1px solid #CE0303;
}

.btn-normal {
  color: black;
  background-color: white;
  border: 1px solid #555555;
}

.btn-normal:hover {
  background-color: #FFFFF2;
  border: 1px solid black;
}

.btn-save {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 100px;
}

.btn-save:hover {
  background-color: #FFFFF2;
  border: 1px solid black;
}

.btn-close {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 100px;
}

.btn-close:hover {
  background-color: #FFFFF2;
  border: 1px solid black;
}

.btn-create {
  color: black;
  background-color: #EAFBFE;
  border: 1px solid #555555;
}

.btn-create:hover {
  background-color: #FFFFF2;
  border: 1px solid black;
}

.btn-add {
  color: black;
  background-color: #F5FCF4;
  border: 1px solid #555555;
}

.btn-add:hover {
  background-color: #F2FFF2;
  border: 1px solid black;
}

.btn-remove {
  color: black;
  background-color: #FFC9C8;
  border: 1px solid #555555;
}

.btn-remove:hover {
  background-color: #FFFFF2;
  border: 1px solid black;
}

.btn-edit {
  color: black;
  background-color: white;
  border: 1px solid #555555;
}

.btn-edit:hover {
  background-color: #FFFFF2;
  border: 1px solid black;
}

.btn-fullsize {
  width: 100%;
}

.btn-table {
  font-size: 12px;
  padding: 4px 12px;
}

.btn-menu {
  width: 150px;
  margin-right: 2px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #555555;
    background-color: #A9CED3;
}
