.product-img {
	width: 50px;
	height: 70px;
	display: block;
	margin: 0px auto;
}

.header-line {
	color: black;
}

.summary-img {
	margin-left: 1px;
  height: 140px;
  width: 110px;
}

.slip-img {
	margin: 1px;
  min-height: 200px;
  width: 100%;
  border:2px solid transparent;;
  border-color: #929290;
}

.panel-info {
  border-color: #C6C6C6;
	z-index: 10;
}

.panel-info > .panel-heading {
  color: white;
  background-color: #6B6B6B;
  border-color: #C6C6C6;
}

.form-control[readonly] {
  background-color: floralwhite;
}

.tab-content {
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 50px;
	border-radius: 5px;
	border: 1px solid #555555;
	background-color: #FAFAFA;
}

.table-size {
	border-radius: 4px;
	border: 1px solid #B2B2B2;
	background-color: white;
}

.table-size tbody tr td {
	border-top: 1px solid #B2B2B2;
}

.table-size thead tr th {
	border-bottom: 1px solid #B2B2B2;
}
