.menu-content-wideimg {
  width: 80%;
  height: 80px;
  border: 1px solid white;
  padding: 4px;
  margin: 0 auto;
  display: block;
}

.menu-content-wideimg-selected {
  width: 80%;
  height: 80px;
  border: 1px solid #B60202;
  padding: 4px;
	border-radius: 4px;
  margin: 0 auto;
  display: block;
}

.menu-content-img {
  width: 50%;
  height: 80px;
  border: 1px solid white;
  padding: 4px;
  margin: 0 auto;
}

.menu-content-img-selected {
  width: 50%;
  height: 80px;
  border: 1px solid #B60202;
  padding: 4px;
	border-radius: 4px;
  margin: 0 auto;
}
