.order-header {
  color: white;
  background-color: #016895;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
}

.order-header > p {
  font-size: 14px;
}

.focus-text {
  font-weight: 700;
  font-size: 18px;
}
