.page-menu {
	position: fixed;
	width: 290px;
	border: 1px solid #ccc;
	z-index: 500;
	background-color: #F2FCFE;
}

.page-menu > .panel-heading {
	color: white;
	background-color: #0195B9;
}

.page-menu > .panel-footer {
	background-color: white;
}

.page-menu-body {
 overflow: scroll;
 max-height: 320px;
}

.btn-pmenu {
  color: black;
  background-color: white;
  border: 1px solid #999999;
	text-align: left;
	font-size: 14px;
}

.btn-pmenu:hover {
	color: red;
	background-color: #D9FCFD;
	border: 1px solid #555555;
}

.btn-pmenu-selected {
  color: black;
  background-color: #D9FCFD;
  border: 1px solid #555555;
	text-align: left;
	font-size: 14px;
}

.btn-pmenu-selected:hover {
	border: 1px solid #555555;
}

.btn-pmenu-back {
  color: black;
  background-color: white;
  border: 1px solid #999999;
	text-align: left;
	font-size: 14px;
}

.btn-pmenu-back:hover {
	color: red;
	background-color: #D9FCFD;
	border: 1px solid #555555;
}

.btn-pmenu-full {
	width: 100%;
	margin-bottom: 2px;
}

.btn-pmenu-sub-full {
	width: 68%;
	margin-bottom: 2px;
}

.pmenu-sub-action {
	width: 15%;
	margin-bottom: 2px;
	margin-left: 1px;
}

.pmenu-img {
	width: 68%;
	height: 90px;
	padding: 4px;
}

.pmenu-item-row {
	margin-right: 0px;
 	margin-left: 0px;
	margin-bottom: 5px;
	border: 1px solid white;
	padding: 4px;
}

.pmenu-item-row-selected {
	margin-right: 0px;
 	margin-left: 0px;
	margin-bottom: 5px;
	border: 1px solid #B60202;
	padding: 4px;
	border-radius: 4px;
}

.pmenu-item {
	padding-right: 5px;
  padding-left: 5px;
	text-align: center;
}

.pmenu-item-button {
	width: 80%;
	margin-bottom: 2px;
}
