
.panel-content {
	margin-left: 10px;
  margin-right: 10px;
  border-color: #D0D1D0;
}

.panel-content > .panel-heading {
  color: white;
	background-color: #848584;
}

.panel-content > .panel-body {

}

.panel-content > .panel-footer {

}

.btn-tree {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
	text-align: left;
	font-size: 12px;
}

.btn-tree.focus, .btn-tree:focus, .btn-tree :hover {
	border: 1px solid #555555;
}

.btn-tree-selected {
  color: black;
  background-color: #C0EAF4;
  border: 1px solid #555555;
	text-align: left;
	font-size: 14px;
}

.btn-tree-selected.focus, .btn-tree-selected:focus, .btn-tree-selected:hover {
	border: 1px solid #555555;
}

.panel-page-menu {
	position:absolute;
	width: 240px;
	border: 1px solid #ccc;
	z-index: 2;
	background-color: #F2FCFE;
}

.panel-page-menu > .panel-heading {
	color: white;
	background-color: #0195B9;
}

.panel-page-menu > .panel-footer {
	background-color: white;
}

.panel-page-property {
	position:absolute;
	width: 290px;
	border: 1px solid #ccc;
	z-index: 2;
	background-color: #F2FCFE;
}

.panel-page-property > .panel-heading {
	color: white;
	background-color: #0195B9;
}

.panel-page-property > .panel-footer {
	background-color: white;
}
