.property {
	position: fixed;
	width: 500px;
	border: 1px solid #ccc;
	z-index: 500;
	background-color: #F2FCFE;
}

.property > .panel-heading {
	color: white;
	background-color: #0195B9;
}

.property > .panel-footer {
	background-color: white;
}

.property-header {
	margin-bottom: 10px;
	border-bottom: 1px solid #555555;
}

.property-header > p {
	color: black;
	font-size: 16px;
}

.property-body {

}

.btn-property-full {
	width: 100%;
	margin-bottom: 2px;
}
