
.window-dialog {
  height: 200px;
  width: 400px;
  padding-top: 100px;
}

.window-body {
  padding: 20px;
  text-align: center;
}

.window-body > div {
  margin: 0 auto;
}

.window-body > p {
  margin-top: 30px;
  font-size: 18px;
}

.window-btn-close {
  display: block;
  padding: 10px;
  margin: 0 auto;

  width: 70%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.picker-popover {
  position: absolute;
  z-index: 2;
}

.picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.picker-button {
  color: black;
  background-color: white;
  border: 1px solid #B9B9B9;
}

.picker-close {
	margin-top: 1px;
	width: 100%;
	color: black;
	background-color: white;
	border: 1px solid #B9B9B9;
}

.form-font {
  width: 200px;
  height: 160px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
}

.choose-product {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
}

.choose-product-selected {
  border: 1px solid #B60202;
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
}

.choose-product-body {
  width: 750px;
}
